# Basics of Pandas Dataframes

## Create a dataframe

In [115]:
import pandas as pd
import numpy as np

# Create some data 
data = np.array([['', 'Col 1', 'Col 2'], ['Row 1', 1, 2], ['Row 2', 3, 4]])
                
# Convert to data frame                
df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:])
df

      Col 1 Col 2
Row 1     1     2
Row 2     3     4

## Create an empty dataframe

In [116]:
temp_df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['A'])
print(temp_df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

In [117]:
temp_df = pd.DataFrame(index=range(0, 4), columns=['A'], dtype='float')
print(temp_df)

    A
0 NaN
1 NaN
2 NaN
3 NaN

### Two-Dimensional array as input

In [118]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

### Dictionary as input

In [119]:
# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict))

   1  2  3
0  1  1  2
1  3  2  4

### Series as input

In [120]:
# Take a Series as input to your DataFrame (note the series gets sorted on the key)
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
df_series = pd.DataFrame(my_series)

In [121]:
df_series.index

Index(['Belgium', 'India', 'United Kingdom', 'United States'], dtype='object')

## Select an index or column

In [122]:
purchase_1 = pd.Series({'Name': 'Chris', 
                        'Item Purchased': 'Dog Food', 
                        'Cost': 22.50})


purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})

purchase_3 = pd.Series({'Name': 'Vinod', 
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

### Individual cell

In [123]:
df.index

Index(['Store 1', 'Store 2', 'Store 3'], dtype='object')

In [124]:
df.iloc[0, 0]

22.5

In [125]:
df.iloc[0]['Cost']

22.5

In [126]:
df.loc['Store 1', 'Cost']

22.5

In [127]:
df.at['Store 1', 'Cost']

22.5

### Select a row

In [128]:
df.iloc[0]

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

In [129]:
df.loc['Store 1']

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

### Select a column

In [130]:
df.iloc[:, 1]

Store 1        Dog Food
Store 2    Kitty Litter
Store 3       Bird Seed
Name: Item Purchased, dtype: object

In [131]:
df.loc[:, 'Item Purchased']

Store 1        Dog Food
Store 2    Kitty Litter
Store 3       Bird Seed
Name: Item Purchased, dtype: object

## Add an index, row or column

### Add an Index

In [132]:
print(df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

In [133]:
df.set_index('Cost')

     Item Purchased   Name
Cost
22.5       Dog Food  Chris
2.5    Kitty Litter  Kevyn
5.0       Bird Seed  Vinod

In [134]:
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

### Make the index part of the dataframe

In [135]:
# Keep the index and make a copy as a column 
temp_df = df.copy()
temp_df['New'] = df.index
temp_df

         Cost Item Purchased   Name      New
Store 1  22.5       Dog Food  Chris  Store 1
Store 2   2.5   Kitty Litter  Kevyn  Store 2
Store 3   5.0      Bird Seed  Vinod  Store 3

In [136]:
# Without a column label 
temp_df = df.copy()
temp_df.loc[:, 4] = df.index
temp_df

         Cost Item Purchased   Name        4
Store 1  22.5       Dog Food  Chris  Store 1
Store 2   2.5   Kitty Litter  Kevyn  Store 2
Store 3   5.0      Bird Seed  Vinod  Store 3

### Reset the index

In [137]:
temp_df.reset_index(level = 1, drop=True)

   Cost Item Purchased   Name        4
0  22.5       Dog Food  Chris  Store 1
1   2.5   Kitty Litter  Kevyn  Store 2
2   5.0      Bird Seed  Vinod  Store 3

# Delete Rows or Columns

## Remove a column

In [138]:
temp_df.drop(4, axis=1, inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

## Remove duplicate rows

### Create a duplicate row

In [139]:
temp_df = temp_df.append(temp_df.iloc[1, :])
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod
Store 2   2.5   Kitty Litter  Kevyn

In [140]:
temp_df.drop_duplicates(['Name'], inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

## Remove by index

In [141]:
# This will remove all rows with the index (idx)
temp_df = df.copy() 
print(df)
# Drop rows
idx = temp_df.index[-1]
temp_df.drop(idx, inplace=True)
temp_df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

# Rename the Index and Column

In [142]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

In [143]:
new_cols = { 'Cost': 'New column 1', 'Item Purchased': 'New Column 2', 'Name': 'Column 3'}
temp_df.rename(columns=new_cols)

         New column 1  New Column 2 Column 3
Store 1          22.5      Dog Food    Chris
Store 2           2.5  Kitty Litter    Kevyn

In [144]:
temp_df.rename(index={'Store 1': 'Main Store'})

            Cost Item Purchased   Name
Main Store  22.5       Dog Food  Chris
Store 2      2.5   Kitty Litter  Kevyn

In [145]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

# Format Data

## Replace string

In [146]:
print(temp_df)

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

In [147]:
temp_df.replace(['Dog Food'], 1)

         Cost Item Purchased   Name
Store 1  22.5              1  Chris
Store 2   2.5   Kitty Litter  Kevyn

### Using Regex

In [148]:
temp_df.replace(['Dog'], ['Pet'], regex=True)

         Cost Item Purchased   Name
Store 1  22.5       Pet Food  Chris
Store 2   2.5   Kitty Litter  Kevyn

## Removing parts from a string

In [149]:
temp_df['result'] = temp_df['Item Purchased'].map(lambda x: x.lstrip('D').rstrip('r'))
temp_df

         Cost Item Purchased   Name       result
Store 1  22.5       Dog Food  Chris      og Food
Store 2   2.5   Kitty Litter  Kevyn  Kitty Litte

In [154]:
temp_df = df.copy()

### Iterate over a dataframe

In [163]:
for index, row in temp_df.iterrows():
    print(index + ' - ' + str(row['Cost']))

Store 1 - 22.5
Store 2 - 2.5
Store 3 - 5.0